<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="POM Practice Suite" verbose="1">
    <test name="Scenarios">
        <classes>
            <class name="org.com.globant.tests.PurchaseProductTest"/>
            <class name="org.com.globant.tests.RemoveCartItemsTest"/>
            <class name="org.com.globant.tests.LogoutTest"/>
        </classes>
    </test>
</suite>